* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
}

header {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1rem;
    padding: 0 5em 0 5em;
}

#title {
    background-color: rgba(255, 0, 0, 0.747);
    color: white;
    border-radius: 1em;
}

#img-caption {
    padding: 10px 0;
}

#image {
    width: 80%;
    border-radius: 10px;
}

.frase {
    margin: 0 auto;
    align-self: center;
    width: 80%;
    padding: .6em;
    font-size: medium;
    background-color: rgba(128, 128, 128, 0.171);
    border-radius: 1em;
}

#main {
    height: 100vh;
}

#tribute-info {
    width: 80%;
    margin: 0 auto;
}

#tribute-info p {
    text-align: justify;
    margin: .8em 0;
    font-size: large;
}

footer {
    position: relative;
    bottom: 0;
    padding: 1em;
    text-align: center;
}

footer p {
    font-size: 1.5em;
    text-decoration: none;
}