* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primary-color: #cc6699;
$primary-color-darker : #62334a;
$body-bg-color: #cc66990a;
$code-bg-color: #f1c2da41;

body {
    font-family: 'Varela Round', Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas:
        "navbar main-doc"
        "navbar footer";
    grid-template-columns: 250px auto;

}

#navbar {
    grid-area: navbar;
    border-right: 1px solid $primary-color;

    .content {
        position: sticky;
        top: 0;
        left: 0;
    }

    header {
        font-size: 1.2em;
        background-color: white;
        color: $primary-color;
        padding: 10px;
        animation: logo-animation 60s linear infinite;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;

        li {
            font-size: 1.4em;
            padding-left: 3px;

            .nav-link {
                text-decoration: none;
                color: $primary-color-darker;
                display: block;
                padding: 5px;
                // border: 1px solid $primary-color;
                transition-delay: .01s;
                transition-duration: .7s;

                &:hover {
                    background-color: $primary-color;
                    color: wheat;
                }
            }
        }
    }
}

#main-doc {
    grid-area: main-doc;
    padding: 0 3em;
    border-left: 1px solid $primary-color;
    // background-color: royalblue;

    .main-section {
        margin-bottom: 80px;
        border-bottom: 1px solid $primary-color;
        transition-duration: 2s;

        header {
            padding: .7em;

            h1 {
                font-size: 1.7em;
                margin-bottom: 5px;
                color: $primary-color;
            }
        }

        .content {
            padding: 1em;
            font-size: 1.1em;

            h3 {
                margin: .5em 0;
                color: $primary-color-darker;
            }

            p {
                margin-bottom: 1em;
            }

            ul {
                margin-left: 3em;
                margin-bottom: 1em;
            }

            pre {
                background-color: $code-bg-color;
                margin-bottom: 10px;
                align-items: center;
                justify-content: center;
                border-radius: 10px;

                code {
                    font-weight: bold;
                    font-size: 1.1em;
                }
            }

        }
    }
}

@media only screen and(max-width:820px) {

    body {
        grid-template-areas:
            "navbar"
            "main-doc"
            "footer";
        grid-template-rows: auto;
        grid-template-columns: auto;

    }

    #navbar {
        grid-area: navbar;
        text-align: center;

        ul {
            position: sticky;
            top: 0;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;

            li {
                border: 1px solid $primary-color;
                border-radius: 10px;
            }
        }

        //   display: none;
    }

    #main-doc {
        grid-area: main-doc;
    }
}

footer {
    grid-area: footer;
    padding: .5em;
    font-size: 1.2em;
    text-align: center;
}

@keyframes logo-animation {
    0% {
        color: $primary-color;
        background-color: white;
    }

    50% {
        color: white;
        background-color: $primary-color;

    }

    100% {
        color: $primary-color;
        background-color: white;
    }
}