* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  overflow-x: hidden;
}

#navbar {
  display: inline;
  background-color: white;
}

#navbar .content {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

#navbar .content header {
  font-size: 1.1em;
  background-color: white;
  color: #cc6699;
  padding: 0px;
  -webkit-animation: logo-animation 60s linear infinite;
          animation: logo-animation 60s linear infinite;
}

#navbar .content header h1 {
  margin-left: 3px;
}

#navbar .content ul {
  background-color: white;
  list-style: none;
}

#navbar .content ul li {
  padding-left: 3px;
  font-size: 1.3em;
}

#navbar .content ul li .nav-link {
  text-decoration: none;
  color: #62334a;
  display: block;
  padding: 3px;
}

#main-doc {
  max-width: 100vw;
  padding: 0 1em;
}

#main-doc .main-section {
  margin-bottom: 10px;
  border-bottom: 1px solid #cc6699;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#main-doc .main-section header {
  padding: 0.7em;
}

#main-doc .main-section header h1 {
  font-size: 1.5em;
  margin-left: -1em;
  margin-bottom: 3px;
  color: #cc6699;
}

#main-doc .main-section .content {
  font-size: 1.1em;
  text-align: justify;
}

#main-doc .main-section .content h3 {
  margin: 0.3em 0;
  color: #62334a;
}

#main-doc .main-section .content p {
  margin-bottom: 1em;
}

#main-doc .main-section .content ul {
  margin-left: 3em;
  margin-bottom: 1em;
}

#main-doc .main-section .content pre {
  background-color: #f1c2da41;
  margin-bottom: 10px;
  border-radius: 10px;
}

#main-doc .main-section .content pre code {
  font-weight: bold;
}

footer {
  padding: 0.6em 0;
  font-size: 1em;
  text-align: center;
}

@media only screen and (min-width: 820px) {
  body {
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "navbar main-doc" "navbar footer";
    -ms-grid-columns: 250px auto;
        grid-template-columns: 250px auto;
  }
  #navbar {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: navbar;
    border-right: 1px solid #cc6699;
    background-color: white;
  }
  #navbar .content {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: 0;
  }
  #navbar .content header {
    font-size: 1.2em;
    background-color: white;
    color: #cc6699;
    padding: 10px;
    -webkit-animation: logo-animation 60s linear infinite;
            animation: logo-animation 60s linear infinite;
  }
  #navbar .content ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #navbar .content ul li {
    font-size: 1.4em;
    padding-left: 3px;
  }
  #navbar .content ul li .nav-link {
    text-decoration: none;
    color: #62334a;
    display: block;
    padding: 5px;
    -webkit-transition-delay: 0.01s;
            transition-delay: 0.01s;
    -webkit-transition-duration: 0.7s;
            transition-duration: 0.7s;
  }
  #navbar .content ul li .nav-link:hover {
    background-color: #cc6699;
    color: wheat;
  }
  #main-doc {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: main-doc;
    padding: 0 3em;
    border-left: 1px solid #cc6699;
  }
  #main-doc .main-section {
    margin-bottom: 80px;
    border-bottom: 1px solid #cc6699;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  #main-doc .main-section header {
    padding: 0.7em;
  }
  #main-doc .main-section header h1 {
    font-size: 1.7em;
    margin-left: -1em;
    margin-bottom: 5px;
    color: #cc6699;
  }
  #main-doc .main-section .content {
    padding: 1em;
    font-size: 1.1em;
    text-align: justify;
  }
  #main-doc .main-section .content h3 {
    margin: 0.5em 0;
    color: #62334a;
  }
  #main-doc .main-section .content p {
    margin-bottom: 1em;
  }
  #main-doc .main-section .content ul {
    margin-left: 3em;
    margin-bottom: 1em;
  }
  #main-doc .main-section .content pre {
    background-color: #f1c2da41;
    margin-bottom: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 10px;
  }
  #main-doc .main-section .content pre code {
    font-weight: bold;
    font-size: 1.1em;
  }
  footer {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: footer;
    padding: 0.5em;
    font-size: 1.2em;
    text-align: center;
  }
}

@-webkit-keyframes logo-animation {
  0% {
    color: #cc6699;
    background-color: white;
  }
  50% {
    color: white;
    background-color: #cc6699;
  }
  100% {
    color: #cc6699;
    background-color: white;
  }
}

@keyframes logo-animation {
  0% {
    color: #cc6699;
    background-color: white;
  }
  50% {
    color: white;
    background-color: #cc6699;
  }
  100% {
    color: #cc6699;
    background-color: white;
  }
}
/*# sourceMappingURL=style.css.map */